:root {
    --main-color: #1A237E;
    --main-light: #7986CB;
    --search-highlight: #C5CAE9;
    --search-highlight-hover: #7986CB;
    --border-color: rgba(0, 0, 0, 0.1);
    --background-color: #fafafa;
    --background-color-hover: #e3e3e3;
    --gray: rgba(0, 0, 0, 0.15);
    --darker: #444444;
    --dark: #666666;
    --highlight-clicked: #1A237E;
    --highlight-scroll: #1A237E;
}


/* right */

#right-inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#right-inner-options {
    background: var(--background-color);
    /* width: 100%; */
    flex: 0 0 64px;
    border-bottom: 1px solid var(--border-color);
    /* padding: 15px; */
    display: flex;
}

.right-inner-option-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

#dag {
    cursor: grab;
}

#dag:active {
    cursor: grabbing;
}

.dag-layer-label {
    font-size: 18px;
    color: var(--darker);
    font-weight: 700;
}

.fv-ch:hover {
    cursor: pointer;
}

.fv-de:hover {
    cursor: pointer;
}

.fv-ch-label {
    font-size: 12px;
    fill: var(--dark);
}

.attr-ch-label {
    font-size: 12px;
    fill: var(--dark);
}

.attr-de:hover {
    cursor: pointer;
}

.fv-attr:hover {
    cursor: pointer;
}

.example-text {
    font-size: 12px;
    fill: var(--dark);
}

.dag-edge {
    stroke: var(--gray);
    fill: none;
}

@keyframes dash {
    to {
        stroke-dashoffset: 500;
    }
}

.dag-edge:hover {
    stroke: var(--main-light);
    cursor: crosshair;
    stroke-dasharray: 30 8;
    animation: dash 10s linear;
}

.dag-edge-animate-in {
    stroke: var(--main-color);
    stroke-dasharray: 30 8;
    animation: dash 10s linear;
}

.dag-edge-animate-out {
    stroke: var(--main-light);
    stroke-dasharray: 30 8;
    animation: dash 10s linear;
}

/* slider */

.slider {
    -webkit-appearance: none;
    width: 120px;
    height: 3px;
    /* border-radius: 5px;    */
    /* background: var(--light); */
    background: #bbbbbb;
    outline: none;
    /* opacity: 0.7; */
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
    display: inline;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-light);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--main-light);
    cursor: pointer;
    border: none;
}

.slider:hover {
    background: var(--dark);
    cursor: pointer;
}

/* .slider::-webkit-slider-thumb:hover, .slider::-moz-range-thumb:hover {
    background: var(--main-color)
} */

/* 
.slider::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
} */